@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

:root {
    --primary-color: #0087f5;
    --secondary-color: #002754;
    --tertiary-color: #05346b;

    --white-color: #fff;
    --black-color: #000;

    --default-gray: #1f1f1f;
    --secodary-gray: #c0c0c0;
    --tertiary-gray: #D9D9D9;
    --quaternary-gray: #D5D5D5;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#app {
    background: var(--quaternary-gray);
    min-height: 300vh;
}